.card {
    border: 1px solid #c7c7c7;
    width: 200px;
    height: 80px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 15px;
}
.card-bold {
    border: 1px solid black;
}
.card_media {
    width: 200px;
    height: 180px;
    aspect-ratio: 16 / 9;
    background-color: black;
    object-fit: cover;
}
.card_title {
    font-size: 2rem;
    font-weight: bold;
}
.card_title--thin {
    font-weight: 100;
}
