body {
  background-color: #ffffff;
  font-family:sans-serif;
  margin: 0;
  padding: 20px;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

button {
  padding: 10px;
  background-color: #000000;
  color: white;
  border-radius: 4px;
}

.coin-grid {
  display: grid;
  /* ai 추천 열 배치 */
  grid-template-columns: repeat(4, 1fr); /* 4열 배치 */
  gap: 12px;
}

.coin-card {
  background: white;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
}

#market-code {
    font-size: 20px, bold;
}

.RISE {
    color: red;
}

.FALL {
    color: blue;
}
.EVEN {
    color: #000000;
}