body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;       
    background-color: white; 
}

.game {
    text-align: center;
    font-family: sans-serif;
}

.game h4 {
    font-size: 1rem;
    margin-top: 40px;
    
}

.container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top:30px;
    margin-bottom: 20px;
}

.container img {
    width: 200px;
    height: 200px;
    border-radius: 50%; /* 이미지를 원형으로 */
    object-fit: cover;
    border: 1px solid #ddd;
}

.buttonclick button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}



#click { background-color: red; }
#reset { background-color: blue; }

#click:hover {
    color: black;
}
#reset:hover {
    color: red;
}
