// % : placeholder
%btn {
    border: 2px dashed;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 10px;;
}
.success {
  @extend %btn;
  background-color: green;
  color: white;
}
.warning {
    @extend %btn;
    background-color: yellow;
    color: black;
}
.error {
    @extend %btn;
    background-color: red;
    color: white;
}

