
/* 2. 태그 선택자 */
p {
    color: red
}
.notice {
    background: yellow;
}
#only-one {
    background: lime;
}
/*6. 조합 선택자 */
/* 자손 선택자 */
.combo p {
    color: green
}


/*9. 구조 선택자 */
.list li:first-child{
    background-color: yellow;
}
.list li:first-child(2){
    background-color: lightblue;
}
.list li:first-child(odd){
    color: navy;
}

/*10. 가상 요소 선택자 */
.badge::before {
    content: "NEW";
    background: black;
    color: white;
}
.badge::after {
    content: "HOT";
    background: red;
    color: white;
}
