.rule-test h2{
    color: red;
}

.rule-test h2{
    color: blue;
}
/* 선택자 우선순위 : 태그 < 클래스 < ID < limportant (가급적으로 사용 금지) */
.box {
    background: yellow;
    color: black;
}
#priority {
    background: green;
    color: white;
}

/* is - (ID, 클래스/속성/가상클래스, 태그/가상요소) /where - 항상 점수가 0점*/
/* is ㅡㄴㄴ 안의 선택자 중 가장 높은 점수를 가져옴 *) */
:is(.is-where) {
    background: teal;
}
/* where는 항상 0점이다보니 처음 초기 세팅 */
:where(.is-where) {
    background: pink;
}

/* 3. css 변수 */
/*
    (1) : root에 기본 테마 변수 정의\
    (2) 페이지 내부에서 필요한 값만 재정의
*/
:root {
    --primary: blue;
    --bg: lightgray;
}
.theme {
    color: var(--primary);
    background: var(--bg);
}
.dark {
    --primary: white;
    --bg: black;
}
