.box {
    background: lightblue;
    border: 2px, solid;
    margin: 10px
}
.fixed {
    width: 200px;
    height: 100px;
}
.percent {
    width: 100%;
    height: 100%;
}
.percent {
    background: pink;
    height: 200px;
    /* 부모 높이가 정해져 있지 않으면
       % height는 계산할 기준이 없다. */
}
.space {
    background: lightyellow;
    border: 1px solid;
    margin-bottom: 10px;
}

#padding1 {
    padding: 20px;
}
#paddibg2 {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
    /* top right bottom left */
    padding: 30px 20px 40px 10px;
    /* top right/left bottom */
    padding: 30px 20px 40px;
    /* top/bottom/left */
    padding: 30px 20px;
}
.margin1 {
    margin: 20px;
}
/* margin collapse(상쇄) 현상 */
.margin2 {
    margin: 5px 15px 10px 30px;
}
.margin3 {
    width: 200px;
    margin:auto
}

/* border: 테두리 굵기 유형 색상 */
#border1 {
    /* solid : 실선, 점선, dotted : 도트 */
    border: 3px dotted red;
}
