.display {
    background-color: pink;
    width: 150px;
    height: 80px;
    margin: 5px;
}
.display-inline {
    display: inline-block;
}
.display-block {
    display: block;
}
.float {
    width: 80px;
    height: 80px;
    background: skyblue;
    margin: 5px;
    text-align: center;
    line-height: 80px;
    float: right;
}
.sticky {
    background: blue;
    position: sticky;
    top: 0px;
}
.vd {
    width: 100px;
    height: 100px;
    background: lightgray;
    margin: 10px;
    margin: inline-block;
}
.hidden {
    /* 보이지 않는데 있었던 자리 그대로 */
    visibility: hidden;
}
.none {
    /* 존재 자체를 화면에서 없엠 */
    display: none;
}